body,html{
    height: 100%;
    margin: center;
}  
.link{
    color: black;
    padding: 8px 8px;
    font-family: impact; 
}
.link:hover{
    background: tan;
}
.section1{
    background: url(../img/1.jpg);
    width: 100%;
    height: 100%;
    text-align: center;
    margin: center;
}
.judul{
    font-family: anna;
    font-size: 70px;
    color: black;
    margin: center;
    text-align: center;
    padding-top: 7%
}
.sub-judul{
    font-family: anna;
    font-size: 30px;
    color: black;
    margin: auto;
}
.section2{
    background: ivory;
    padding:100px 0px;
    text-align: justify
}
.section3{
    background: beige;
    padding:100px 0px;
    text-align: justify
}
section4{
    background: ivory;
    padding:200px 0px;
    margin: center;
    text-align: center
}
.col-warna{
    background: peachpuff;
    font-family: anna;
    font-size: 35px;
    color: black;
}
