body,html{
    height: 100%;
    margin:0 auto;
}  
.link{
    color: indianred;
    padding: 10px 10px;
}
.link:hover{
    background: tan;
}
.section1{
    background: url(../img/maxresdefault.jpg);
    width: 100%;
    height: 100%;
    text-align: center
}
.judul{
    font-family: bebas;
    font-size: 60px;
    color: black;
    margin: auto;
}
.sub-judul{
    font-family: century gothic;
    font-size: 50px;
    color: black;
    margin: auto;
}
.section2{
    background: goldenrod;
    padding:100px 0px;
}
.section3{
    background: rosybrown;
    padding:100px 0px;
}
.col-warna{
    background: skyblue;
}
.col-warna2{
    background: tan;
}